<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_transitops_root"
              name="TransitOps"
              sequence="10"/>

    <!-- Submenus -->
    <menuitem id="menu_transitops_trip"
              name="Trip Management"
              parent="menu_transitops_root"
              action="action_transport_trip"
              sequence="20"/>

    <menuitem id="menu_transitops_route"
              name="Route Management"
              parent="menu_transitops_root"
              action="action_transport_route"
              sequence="30"/>
</odoo>
